[user]
	name = Bytesmith Ahmad
	email = b-9k@outlook.com
[core]
	editor = micro         # Linux
	#editor = notepad.exe   # Windows
[alias]
	a = add
	aa = add .
	ac = ! git add . && git commit -v
	br = branch
	co = checkout
	cf = cat-file
	cm = commit -v
	cmm = commit -vm
	df = diff
	dfs = diff --staged
	fe = fetch
	lg1 = log --all --decorate --oneline --graph
	lg2 = log --graph --all --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
	lg3 = log --graph --abbrev-commit --all --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	lg = ! git lg2
	last = log -1 HEAD
	pu = push
	unstage = reset HEAD --
	st = status -s
	sta = status
	sw = switch
	lo = "! f() { git log --no-color --no-decorate | bat -n -l 'Git log' ; }; f"
	up = "! git remote update -p; git merge --ff-only @{u}"
	send = "! f() { git commit -v && git push; }; f"
[pull]
	rebase = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential